*{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
section{
    
}

/* HEADER - start */
header{
    width: 100vw;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.menu__list{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-end;
 list-style: none;
}
.menu__item{
    margin-left: 60px;
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
    color: #fff;
}
.header__btn{
    color: #fff;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    padding: 0 30px;
    margin: 10px 30px;
    border: none;
}
.heder__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* HEADER - end */

/* HERO - start */
.hero{
    width: 100vw;
    background: url(../img/main-screen__bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.hero__wrap{
    height: 100vh;
    max-height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.hero__inner{
    margin: auto;
    margin-left: 0;
}
.hero__title{
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}
.hero__block{
    /* height: 100px;
    width: 100px; */
    background-color: #121212;
    color: #fff;
    margin: 15px;
    padding: 20px 30px;
    text-align: center;
    text-transform: capitalize;
}
.hero__blocks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.hero__block span{
    line-height: 140%;
    font-size: 36px;
    font-weight: 700;
    display: block;
}
/* HERO - end */

/* CURSES - start */
.curses{
    background-color: #121212;
}
.curses__btn{
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    padding: 0 30px;
    margin-top: 25px;
    border: none;
    color: #fff;
}
.curses__wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 30px;
}
.wrap__btn{
    margin-top: 20px;
}
.curses__students{
    color: #fff;
    margin: 0 81px;
}
.students__title span{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0.4;
}
.curses__diagram{ 
    margin: 0 81px;
}
.diagram__tile span{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0.4;
}
.diagram__tile{
    color: #fff;
}
.curses__blocks{
    display: flex;
    flex-direction: row;
}
.diagram__block-purpul{
    width: 440px;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.diagram__block-wite{
    width: 200px;
    height: 6px;
    background-color: #fff;
}
p span{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0.4;
}

/* CURSES - end */

/* ABOUT - start */
.about{
    background-color: #000;
}
.about__wrap{
    display: flex;
    flex-direction: row;
}
.about__block{
    position: relative;
    width: 525px;
    height: 500px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 240px;
    margin-top: 100px;
}
.block{
    position: absolute;
    width: 465px;
    height: 440px;
    background-color: #000;
}
.about__img{
    z-index: 10000;
    margin-top: 60px;
}
.about__text{
    padding: 0 100px;
    margin-top: 100px;
}
.about__title{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.about__describtion{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0,4;
}
.about__describtion{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0.4;
}
/* ABOUT - end */

/* START - start */
.start{
    background-color: #000;
}
.start__wrap{
    display: flex;
    flex-direction: column;

}
.start__block{
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: flex-start;
    align-items: flex-start; */
    margin-right: 350px;
}
.start__text{
    margin-top: 100px;
}
.start__title{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.start__works{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0.4;
}
.start__icon{
    float: right;
    margin: 15px 10px;
    justify-content: flex-start;
    margin-top: 100px;
}
.start__diagram{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.diagram__item{
    display: flex;
    flex-direction: column;
}
.item__title{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin: 30px 0;
}
.item__text{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: 0.4;
}
.item__block{
    width: 100%;
    height: 80px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);;
/* }
.item__block2{
    width: 100%;
    height: 80px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);;
    margin-top: 10px;
}
.item__block3{
    width: 100%;
    height: 80px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);;
    margin-top: 15px;
}
.item__block4{
    width: 100%;
    height: 80px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);;
    margin-top: 10px; */
}
/* .diagram__item::after{
    content: '';
    width: 100%;
    height: 80px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);;
}
.diagram__item::after :nth-of-type() .item__block{

} */

/* START - end */


/* PROFECOIN - start */
.profecion{
    background-color: #000;
}
.profecion__wrap{
    padding: 100px;
}
.profecion__list{
    display: flex;
    flex-direction: row;
}
.profecion__title{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-left: 200px;
}
.profecion__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: center;
}
.item__title span{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    opacity: 1;
}
.item__text{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: 0.4;
    padding: 0 15px;
}

/* PROFECOIN - end */

/* PARTNERS - start */
.partners{
    background-color: #000;
}
.partners__title{
    display: flex;
    flex-direction: row;
}
.wrap__title{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin: 30px 0;
}
.partners__table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.table__item{
    border: solid 2px;
    border-color: #121212;
    
}
.item__img{
    padding: 30px;
}
/* PARTNERS - end */

/* LEARNING - start */
.learning{
    background-color: #000;
}
.learning__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.learning__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__header{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.title__text{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: 0.4;
}
.learning__graf{
    min-width: calc(300px * 2 + 40px * 2);
    position: relative;
    display: flex;
    flex-direction: column;
}
.learning__graf::after{
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.graf__item:nth-child(2n+1){
    width: 300px;
    height: 100px;
    position: relative;
    left: 0;
    text-align: right;
}
.graf__item:nth-child(2n){
    width: 300px;
    height: 100px;
    position: relative;
    left: 380px;
}
.graf__item:nth-child(2n+1)::before{
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: #fff;
    opacity: 0.4;
    position: absolute;
    left: 300px;
    top: -125px;
}
/* .graf__item:nth-child(7)::before{
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: #fff;
    opacity: 0.4;
    position: absolute;
    left: 300px;
    top: -125px;
} */
.graf__item:nth-child(2n)::after{
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: #fff;
    opacity: 0.4;
    position: absolute;
    left: -40px;
    bottom: 30px;
}
/* .graf__item::before{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    color: #fff;
    opacity: 0.4;
} */
.item__number{
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    opacity: 0.4;
    padding: 0 25px;
}
.item__text{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 1;
}
/* :nth-child(2n+1) */
/* LEARNING - end */

/* TEACHERS - start */
.teachers{
    background-color: #000;
}
.teachers__wrap{
    
}
.teachers__header{
    display: flex;
    flex-direction: row;
}
.header__title{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.teachers__slider{
    display: flex;
    flex-direction: row;
    /* padding: 0 200px; */
}
.slider__item{
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item__title{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    opacity: 1;
}
.item__text{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 1;
}
.item__btn{
    background-color: #000;
    border: solid 1px #fff;
    border-radius: 50px;
    padding: 10px 30px;
    color: #fff;
}
/* TEACHERS - end */

/* FOOTER - start */
footer{
    background-color: #000;
}
.footer__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap__header{
    text-align: center;
    margin: 100px 0;
}
.wrap__title{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin: 30px 0;
}
.wrap__text{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: 0.4;
}
.footer__email{
    width: 365px;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 50px;
    color: #fff;
    border: none;
}
.footer__btn{
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    padding: 10px 30px;
    color: #fff;
    border: none;
    outline: none;
}
form{
    margin: 0 auto;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
}
.wrap__icons{
    display: flex;
    flex-direction: row;
    margin: 30px;
}
.icons__item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50%;
    margin: 15px;
}
.wrap__icon{
    padding: 20px;
}

/* FOOTER - end */